<div class="text-center">
    <h1>Успешно запазихте вашите оценки</h1>
    <h2>Вашия БАЛ е: @ViewData["TotalScore"]</h2>
</divc>


<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <figure>
            <img class="img-fluid" src="~/images/student.png"
                 alt="Student">
        </figure>
    </div>
</div>
