@using UniversitySystem.Models.SpecialityModels
@model SpecialityListViewModel
@{
    ViewData["Title"] = "Specialities";
    int pageCount = 20;
    int counter = (Model.PageNumber - 1) * pageCount;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на специалността</th>
            <th scope="col">Име на университета</th>
            <th scope="col">Минимален бал</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speciality in Model.Specialities)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@speciality.Name</td>
                <td>@speciality.UniversityName</td>
                <td>@speciality.MinimumScore</td>
            </tr>
        }
    </tbody>
</table>

<hr />

@await Html.PartialAsync("_PaginationPartial.cshtml", @Model)