@model List<UniversityViewModel>
@{
    ViewData["Title"] = "Universities";
}


<div class="row">
@foreach (var university in Model)
{
    string imagePath = "/images/universityLogos/" + @university.Image.Name + "." + @university.Image.Extension;
    <div class="col-md-3 ">
            <figure>
                <img src=@imagePath height="150" />
                <figcaption class="align-content-center">@university.Name</figcaption>
            </figure>
        </div>
}
</div>
