@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Потвърждение на акаунт";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    За тестови причини, потвърждението на имейл е изключено <a href="https://aka.ms/aspaccountconf"></a>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисни тук за потвърждение на имейл</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
